{% extends 'superuser/adminbase.html' %}
{% load static %}
{% block content %}

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header  card-header--2">

                        <div>
                            <h5>All Packages</h5>
                        </div>
                        <form class="d-inline-flex">
                            <a href="{% url 'addnewpack' %}" class="btn btn-theme"> <i data-feather="plus-square"></i>Add
                                New
                            </a>
                        </form>
                    </div>

                    <div class="card-body">
                        <div>
                            <div class="table-responsive table-desi">
                                <table class=" table table-striped all-package">
                                    <thead>
                                        <tr>
                                            <th>Tour Image</th>
                                            <th>Tour Name</th>
                                            <th>Price</th>
                                            <th>No. Of Days</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for package in packages %}
                                        <tr>
                                            <td><span><img src="{{ package.image.url }}" alt="tour image"></span></td>
                                            <td><a href="#">{{ package.name }}</a></td>
                                            <td>${{ package.adult_price }}</td>
                                            <td>{{ package.number_of_days }} days</td>
                                            
                                            <td>
                                                <a href="{% url 'package_edit' package.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="{% url 'package_delete' package.id %}" onclick="return confirm('Are you sure you want to delete this package?');"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7">No packages available.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto" aria-label="Pagination">
                            <ul class="pagination pagination-primary">
                                <!-- Previous Page Link -->
                                {% if packages.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ packages.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                    
                                <!-- Page Number Links -->
                                {% for num in packages.paginator.page_range %}
                                    {% if num == packages.number %}
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{ num }} <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                    
                                <!-- Next Page Link -->
                                {% if packages.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ packages.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ packages.paginator.num_pages }}">Last</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    

                </div>
            </div>

        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

{% include 'superuser/adminfooter.html' %}

{% endblock %}