{% extends 'superuser/adminbase.html' %}
{% load static %}
{% block content %}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header card-header--2">
                        <div>
                            <h5 class="all-package-heding5">All Package Categories</h5>
                        </div>
                        <form class="d-inline-flex">
                            <a href="{% url 'addpackcat' %}" class="btn btn-theme">
                                <i data-feather="plus-square"></i> Add New
                            </a>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive table-desi">
                            <table class="all-package-categories table table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Category Name</th>
                                        <!-- <th>No. Of Tours</th> -->
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for destination in destinations %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ destination.name }}</td>
                                        <!-- <td>{{ destination.total_tours }}</td> -->
                                        <td>
                                            <a href="{% url 'edit-package-category' destination.id %}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'delete-package-category' destination.id %}"
                                                onclick="return confirm('Are you sure?')">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No Package Categories Available</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-box">
                        <nav class="ms-auto me-auto" aria-label="Pagination">
                            <ul class="pagination pagination-primary">
                                <!-- Previous Page Link -->
                                {% if destinations.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ destinations.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                    
                                <!-- Page Number Links -->
                                {% for num in destinations.paginator.page_range %}
                                    {% if num == destinations.number %}
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">
                                                {{ num }} <span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                    
                                <!-- Next Page Link -->
                                {% if destinations.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ destinations.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ destinations.paginator.num_pages }}">Last</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void(0)">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% include 'superuser/adminfooter.html' %}
    </div>

</div>

{% endblock %}